---
title: About
layout: page
---
<img src="{{ site.url }}/{{ site.picture }}"
     alt="Profile Image"
     style="margin-bottom: 25px;border-radius: 100%;transition: all 0.2s;box-shadow: 0;opacity: 1;"/>
<header class="header-home annimate">
  <h1 class="title">Sergio Tocalini</h1>
  <h2 class="description">Software Engineer / DevOps Engineer / Full-Stack Developer / SRE</h2>
  {% include social-links.html %}
</header>
<p>
  Sergio has strong experience on building distributed systems and defining
  application lifecycles. He has worked in several projects for banks,
  pharmaceutics, payment systems and airports supporting different countries.
</p>

<p>
  He enjoys designing and implementing reliable system architectures to make the
  interaction with the customers more efficient and productive. Also he defines
  and adopts patterns and best practices to transform process in more agile cycles.
</p>

<p>
  He is goal oriented, reliable team player, who is always ready to provide the
  best professional support.
</p>

<div id="profile-badges">
  <ul class="badges-rows" style="display:flex;flex-wrap:wrap;padding:1%;margin:auto">
    {% for cert in site.data.certifications %}
    <li class="badge-row" role="row" style="display:flex;list-style: none;flex:0 0 33%;padding:2% 0%;">
      <div class="col col-12" role="cell"
    	   style="position:relative;width:100%;vertical-align:baseline;height:100%;padding:0 5%">
    	<a title="{{ cert.name }}" href="{{ cert.url }}" style="height:100%">
    	  <div class="badge-content" style="height:100%">
    	    <img src="{{ cert.badge }}"
    		 style="float:none;height:auto;width:auto;margin:auto;position:relative;
			top:50%;transform:translateY(-50%);"/>
    	  </div>
    	</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
